<div class="container mt-4">
  <h2 class="table-contents">Task Management</h2>
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Task</th>
        <th scope="col">Description</th>
        <th scope="col">Assigned To</th>
        <th scope="col">Due Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <div>
            <strong>{{ task.name }}</strong>
            <div>
              <span [ngClass]="{
                'badge': true,
                'badge-high': task.priority === 'High',
                'badge-medium': task.priority === 'Medium',
                'badge-low': task.priority === 'Low'
              }">{{ task.priority }}</span>
              <span [ngClass]="{
                'badge': true,
                'badge-success': task.status === 'Completed',
                'badge-warning': task.status === 'In Progress',
                'badge-danger': task.status === 'To Do',
                'badge-pending': task.status === 'Not Started'
              }">{{ task.status }}</span>
            </div>
          </div>
        </td>
        <td>{{ task.description }}</td>
        <td>{{ task.assignedTo }}</td>
        <td>{{ task.dueDate | date: 'shortDate' }}</td>
        <td>
          <button class="btn btn-primary btn-sm button-spacing" (click)="onUpdate(task)">Update</button>
          <button class="btn btn-danger btn-sm" (click)="onDelete(task.id)">Delete</button>

        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Popup Form -->
<div class="modal" [ngClass]="{'show-modal': showModal}">
  <div class="modal-content">
    <span class="close" (click)="closeTaskForm()">&times;</span>
    <h3>Update Task</h3>
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Task Name</label>
        <input type="text" id="name" formControlName="name" placeholder="Task Name">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="description" formControlName="description" placeholder="Description">
      </div>
      <div class="form-group">
        <label for="projectId">Project ID</label>
        <input type="text" id="projectId" formControlName="projectId" placeholder="Project ID">
      </div>
      <div class="form-group">
        <label for="assignedTo">Assigned To</label>
        <input type="text" id="assignedTo" formControlName="assignedTo" placeholder="Assigned To">
      </div>
      <div class="form-group">
        <label for="assignedBy">Assigned By</label>
        <input type="text" id="assignedBy" formControlName="assignedBy" placeholder="Assigned By">
      </div>
      <div class="form-group">
        <label for="priority">Priority</label>
        <select id="priority" formControlName="priority">
          <option value="">Select Priority</option> <!-- Add empty option -->
          <option value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
        </select>
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <select id="status" formControlName="status">
          <option value="">Select Status</option> <!-- Add empty option -->
          <option value="Not Started">Not Started</option>
          <option value="In Progress">In Progress</option>
          <option value="Completed">Completed</option>
          <option value="To Do">To Do</option>
        </select>
      </div>
      <div class="form-group">
        <label for="startDate">Start Date</label>
        <input type="date" id="startDate" formControlName="startDate">
      </div>
      <div class="form-group">
        <label for="dueDate">Due Date</label>
        <input type="date" id="dueDate" formControlName="dueDate">
      </div>
      <div class="form-group">
        <label for="completedDate">Completed Date</label>
        <input type="date" id="completedDate" formControlName="completedDate">
      </div>
      <button type="submit" class="btn btn-success">Save</button>
    </form>
  </div>
</div>
