/* tasks.component.css */

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd; /* Optional: Add border bottom for visual separation */
}

.dropdown-container {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.dropdown-container label {
  margin-right: 5px;
  font-weight: bold;
}

/* Dropdown styles */
.dropdown-container select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  appearance: none; /* Remove default arrow icon */
  -webkit-appearance: none; /* Remove default arrow icon for Safari */
  -moz-appearance: none; /* Remove default arrow icon for Firefox */
}

/* Hover and Focus styles */
.dropdown-container select:hover,
.dropdown-container select:focus {
  border-color: #555; /* Change border color on hover and focus */
}


.search-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.search-container input {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.task-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}

.task-card {
  flex: 1 0 30%; /* Adjust this percentage to control the number of cards per row */
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  flex-direction: column; /* Stack child elements vertically */
}

.task-title {
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 10px;
}

.task-priority, .task-status, .task-due-date {
  padding: 5px 8px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  font-size: 0.7em;
}

.priority-high {
  background-color: #ff4d4d; /* Red for high priority */
  color: #ffffff;
}

.priority-medium {
  background-color: #ffcc00; /* Amber for medium priority */
  color: #ffffff;
}

.priority-low {
  background-color: #4caf50; /* Green for low priority */
  color: #ffffff;
}

.task-status {
  background-color: #53adf7;
  color: #fff;
  font-size: 0.8em;
}

.task-due-date {
  background-color: #7fe697;
  font-size: 0.8em;
  /* Adjust styles for due date if needed */
}

/* Responsive design */
@media (max-width: 768px) {
  .task-card {
    flex: 1 0 45%; /* Adjust to display 2 cards per row */
  }
}

@media (max-width: 480px) {
  .task-card {
    flex: 1 0 100%; /* Adjust to display 1 card per row */
  }
}



.task-more-btn {
  margin-left: auto;
}

/* Dialog styles */
.task-more-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.task-more-btn:hover {
  background-color: #0056b3;
}
 
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.updateStatusbutton {
  margin-left: 10px;
  font-size: 0.7em; /* Smaller font size */
  padding: 3px 10px; /* Reduced padding */
  border: none;
  border-radius: 3px;
  background-color: #5a6268; /* Custom background color */
  color: #fff; /* White text color */
  cursor: pointer;
}

.moreDetailsButton {
    font-size: 0.7em; /* Smaller font size */
      padding: 3px 10px; /* Reduced padding */


}

.updateStatusbutton:hover {
  background-color: #3486d7; /* Darker background on hover */
}