/* Styling for the form container */
.form-container {
  position: relative;
  width: 700px;
  top: 6rem;
  left: 60%;
  transform: translateX(-50%);
  background-color: rgb(220, 217, 217);
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for the form group */
.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

/* Styling for the labels */
.form-group label {
  flex: 0 0 200px; /* Fixed width for labels */
  text-align: left;
  font-weight: bold;
  padding-right: 10px;
}

/* Styling for the inputs */
.form-group input,
.form-group select,
.form-group textarea {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 40px;
}

/* Styling for the buttons */
.form-group button {
  padding: 10px;
  background-color: darkslategray;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  max-width :500px;
  margin: 8px auto;
}

.form-group button:hover {
  background-color: darkgreen;
}

/* Positioning for buttons */
.form-container .form-group:nth-child(2) button {
  margin-left: auto;
}

.form-container .form-group:last-child button {
  width: 500px;
  margin: 8px auto;
  display: block;
}
