<table>
    <thead>
        <tr>
            <th>Project ID</th>
            <th>Project Name</th>
            <th>Project Description</th>
            <th>End Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let project of projects">
            <td>{{ project.projectID }}</td>
            <td>{{ project.projectName }}</td>
            <td>{{ project.projectDescription }}</td>
            <!-- <td>{{ project.startDate }}</td> -->
            <td>{{ project.endDate }}</td>
            <td>{{ project.status }}</td>
            <!-- <td>{{ project.projectManagerID }}</td> -->
            <td>
                <button (click)="toggleDetails(project)">View Details</button>
                <button (click)="addTaskMember(project)">Add Task Member</button>
                <button (click)="addTask(project)">Add Task</button>
            </td>
        </tr>
    </tbody>
</table>

<div *ngFor="let project of projects">
    <div *ngIf="project.showDetails" class="modal is-active">
        <div class="modal-content">
            <span class="close" (click)="closeDetails(project)">&times;</span>
            <h1>Project Details</h1>
            <p><strong>Project ID:</strong> {{ project.projectID }}</p>
            <p><strong>Project Name:</strong> {{ project.projectName }}</p>
            <p><strong>Project Description:</strong> {{ project.projectDescription }}</p>
            <p><strong>Start Date:</strong> {{ project.startDate }}</p>
            <p><strong>End Date:</strong> {{ project.endDate }}</p>
            <p><strong>Status:</strong> {{ project.status }}</p>
            <p><strong>Project Manager ID:</strong> {{ project.projectManagerID }}</p>

            <h2>Tasks</h2>
            <ul>
                <li *ngFor="let task of project.tasks">
                    <strong>Task ID:</strong> {{ task.taskID }}, <strong>Task Name:</strong> {{ task.taskName }}
                </li>
            </ul>
            <h2>Team Members</h2>
            <ul>
                <li *ngFor="let member of project.teamMembers">
                     
                    <strong>Team Member ID:</strong> {{ member.teamMemberID }}, <strong>Team Member Name:</strong> {{ member.teamMemberName }}
                </li>
            </ul>
        </div>
    </div>
</div>
